/*리스폰 체크일때*/

/*
 #screen {
  width: 400px;
  height: 300px;
  text-align: center;
  user-select: none;
}
#screen.Waiting {
  background-color: aqua;
}
#screen.ready {
  background-color: red;
  color: white;
}
#screen.now {
  background-color: greenyellow;
} */

.ball {
  display: inline-block;
  border: 1px solid black;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  margin-right: 20px;
}